/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

body {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ebffb2+0,00e550+100 */
	background: #ebffb2; /* Old browsers */
	background: -moz-linear-gradient(top, #ebffb2 0%, #00e550 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #ebffb2 0%,#00e550 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #ebffb2 0%,#00e550 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebffb2', endColorstr='#00e550',GradientType=0 ); /* IE6-9 */
	height:100%
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.light-blue.lighten-1 {
	background-color: #333333 !important;
}

.header.center.orange-text {
	color: black !important;
}

#download-button {
	background-color: black !important;
}

.page-footer.orange {
	background-color:#333333 !important;
}

.footer-copyright {
	background-color:black !important;
}